body {
    margin: 20px;
    font-family: Garamond, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    border-radius: 50%;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #f0ead2;
    color: #2b2839;
    border: 6px groove #ccc5b9;
    border-radius: 20px;
    text-shadow: 2px 2px 25px #000000;
}

p:hover, h3:hover, h4:hover{
    font-size:150%; 
}
img:hover{
    width: 160px;
	height: auto;
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/
